/* Common Buttons: https://m3.material.io/components/buttons/specs */
:root[mode=md] {
  ion-button,
  ion-button.md-filled,
  ion-button.mat-filled,
  ion-button[fill=solid] {
    --background: var(--mat-sys-primary);
    --background-hover: var(--mat-sys-primary);
    --background-focused: var(--mat-sys-primary);
    --background-activated: var(--mat-sys-primary);

    --color: var(--mat-sys-on-primary);
    --color-hover: var(--mat-sys-on-primary);
    --color-focused: var(--mat-sys-on-primary);
    --color-activated: var(--mat-sys-on-primary);

    --box-shadow: var(--mat-sys-level0);
    --border-radius: 20px;
    --ripple-color: var(--mat-sys-surface-container-highest);

    --padding-start: 24px;
    --padding-end: 24px;

    font-family: var(--mat-sys-label-large-font-family-name);
    font-style: var(--mat-sys-label-large-font-family-style);
    font-weight: var(--mat-sys-label-large-font-weight);
    font-size: var(--mat-sys-label-large-font-size);
    line-height: var(--mat-sys-label-large-line-height);
    letter-spacing: var(--mat-sys-label-large-letter-spacing);

    height: 40px;
    text-transform: none;
  }

  ion-button ion-icon,
  ion-button.md-filled ion-icon,
  ion-button.mat-filled ion-icon,
  ion-button[fill=solid] ion-icon {
    color: var(--mat-sys-on-primary);
  }

  ion-button.button-clear ion-icon {
    color: var(--mat-sys-primary);
  }

  ion-button:has(ion-icon[slot=start]) {
    --padding-start: 16px;
  }

  ion-button:has(ion-icon[slot=end]) {
    --padding-end: 16px;
  }

  ion-button ion-icon[slot=start] {
    margin: 0 8px 0 0;
  }

  ion-button ion-icon[slot=end] {
    margin: 0 0 0 8px;
  }

  ion-button.md-filled-tonal,
  ion-button.mat-filled-tonal {
    --background: var(--mat-sys-secondary-container);
    --background-hover: var(--mat-sys-secondary-container);
    --background-focused: var(--mat-sys-secondary-container);
    --background-activated: var(--mat-sys-secondary-container);

    --color: var(--mat-sys-on-secondary-container);
    --color-hover: var(--mat-sys-on-secondary-container);
    --color-focused: var(--mat-sys-on-secondary-container);
    --color-activated: var(--mat-sys-on-secondary-container);

    --box-shadow: var(--mat-sys-level0);
  }

  ion-button.md-filled-tonal ion-icon,
  ion-button.mat-filled-tonal ion-icon {
    color: var(--mat-sys-on-secondary-container);
  }

  ion-button.md-elevated,
  ion-button.mat-elevated {
    --background: var(--mat-sys-surface-container-low);
    --background-hover: var(--mat-sys-surface-container);
    --background-focused: var(--mat-sys-surface-container);
    --background-activated: var(--mat-sys-surface-container);

    --color: var(--mat-sys-primary);
    --color-hover: var(--mat-sys-primary);
    --color-focused: var(--mat-sys-primary);
    --color-activated: var(--mat-sys-primary);

    --box-shadow: var(--mat-sys-level1);
  }

  ion-button.md-elevated:hover,
  ion-button.mat-elevated:hover {
    --box-shadow: var(--mat-sys-level2);
  }

  ion-button ion-icon,
  ion-button.md-elevated ion-icon,
  ion-button.mat-elevated ion-icon {
    font-size: 18px;
    color: var(--mat-sys-primary);
  }

  ion-button.md-outlined,
  ion-button.mat-outlined,
  ion-button[fill=outline] {
    --background: var(--mat-sys-surface);
    --background-hover: var(--mat-sys-surface);
    --background-focused: var(--mat-sys-surface);
    --background-activated: var(--mat-sys-surface);

    --color: var(--mat-sys-primary);
    --color-hover: var(--mat-sys-primary);
    --color-focused: var(--mat-sys-primary);
    --color-activated: var(--mat-sys-primary);

    --box-shadow: var(--mat-sys-level0);

    --border-color: var(--mat-sys-outline);
    --border-style: solid;
    --border-width: 1px;
  }

  ion-button.md-text,
  ion-button.mat-text,
  ion-button.button-clear,
  ion-button[fill=clear] {
    --background: transparent;
    --background-hover: transparent;
    --background-focused: transparent;

    --color: var(--mat-sys-primary);
    --color-hover: var(--mat-sys-primary);
    --color-focused: var(--mat-sys-primary);
    --color-activated: var(--mat-sys-primary);

    --box-shadow: var(--mat-sys-level0);
  }

  /* Floating Action Buttons (FAB): https://m3.material.io/components/floating-action-button/overview */

  ion-fab-button {
    --background: var(--mat-sys-primary-container);
    --color: var(--mat-sys-on-primary-container);

    --box-shadow: var(--mat-sys-level3);
    --border-radius: 16px;

    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: 16px;

    width: 56px;
    height: 56px;
  }

  ion-fab-button ion-icon {
    font-size: 24px;
  }

  ion-fab-button.md-small,
  ion-fab-button.mat-small,
  ion-fab-button[size=small] {
    --border-radius: 12px;
    width: 40px;
    height: 40px;
  }

  ion-fab-button.md-large,
  ion-fab-button.mat-large,
  ion-fab-button[size=large] {
    --border-radius: 28px;
    width: 96px;
    height: 96px;
  }

  ion-fab-button.md-large ion-icon,
  ion-fab-button.mat-large ion-icon,
  ion-fab-button[size=large] ion-icon {
    font-size: 36px;
  }

  ion-fab-button:hover {
    --box-shadow: var(--mat-sys-level4);
  }

  ion-fab-button.md-lowered,
  ion-fab-button.mat-lowered {
    --box-shadow: var(--mat-sys-level1);
  }

  ion-fab-button.md-lowered:hover,
  ion-fab-button.mat-lowered:hover {
    --box-shadow: var(--mat-sys-level2);
  }

  ion-fab-button.md-surface,
  ion-fab-button.mat-surface {
    --background: var(--mat-sys-surface-container-high);
    --color: var(--mat-sys-primary);
  }

  ion-fab-button.md-lowered.md-surface,
  ion-fab-button.mat-lowered.mat-surface {
    --background: var(--mat-sys-surface-container-low);
  }
}
